<!DOCTYPE html>
<html lang="en">
    
    
    <head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <!--Custom Files-->
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="../static/form_styles.css">


        <!-- Required meta tags -->
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--jQuery UI-->
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <title>Beam Designer</title>

    </head>

    <body>
        
        

        <div class="container">
            <br>
            <h3>Error Support</h3>
            <hr>
            <br>
            <p>It looks like we were unable to solve your beam. Ensure you take 
                care of the following common mistakes before hitting the Calculate button!</p>

                <br>
            <ol>
                <li>Do not enter negative values for elastic modulus, moment of inertia, lengths, forces, or moments </li>
                <li>Do not leave out the beam length value</li>
                <li>Ensure your beam is sufficiently constrained. Beams without sufficient supports cannot be solved!</li>
                <li>Deflection and slope cannot be calculated for beams with unspecified elastic modulus or moment of inertia</li>
                
                
            </ol>
        </div>

    </body>